#home * {
    color: var(--strong);
}
#home .content {
    width: 800px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
#home .content .createPost {
    background-color: var(--weak);
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home .content .createPost div {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}
#home .content .createPost div + hr + div {
    justify-content: space-evenly;
}
#home .content .createPost div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#home .content .createPost div button {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    direction: var(--direction);
    background-color: var(--bgc);
    transition: all 0.2s;
}
#home .content .createPost div button:hover {
    background-color: var(--strong-fade);
}
#home .content .createPost div h1 {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#home .content .createPost div h1 i {
    color: red;
    font-size: 1.4rem;
}
#home .content .createPost div h1 + h1 i {
    color: green;
}
#home .content .createPost div h1 + h1 + h1 i {
    color: orange;
}
#home .content .createPost hr {
    width: 90%;
}

#home .content .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#home .content .posts > div {
    width: 100%;
    border-radius: 10px;
    background-color: var(--weak);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 16px 40px rgba(0, 0, 0, 0.05);
}

#home .content .posts ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    list-style-type: none;
}

#home .content .posts > ul > li {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 16px 40px rgba(0, 0, 0, 0.05);
}
#home .content .posts > ul li {
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 860px) {
    #home .content {
        width: 500px;
    }
}

@media (max-width: 550px) {
    #home .content {
        width: 300px;
    }
}
