#home * {
    color: var(--strong);
}
#home .content {
    width: 800px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
#home .content .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home .content .posts ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}
#home .content .posts ul li {
    width: 100%;
    background-color: var(--weak);
    padding: 20px;
    border-radius: 10px;
}
#home .content .posts ul li .postHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#home .content .posts ul li .postHeader div {
    display: flex;
    flex-direction: column;
}
#home .content .posts ul li .postHeader div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#home .content .posts ul li .postHeader div div img {
    width: 50px;
    height: 50px;
    background-color: var(--bgc);
    padding: 5px;
    border-radius: 50%;
}
#home .content .posts ul li .postHeader div div h1 {
    font-size: 1rem;
}
#home .content .posts ul li .postHeader div div h4 {
    color: #bbb;
}
#home .content .posts ul li .postHeader div div + div {
    border: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
#home .content .posts ul li .postBody {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#home .content .posts ul li .postBody div {
    width: 90%;
    min-height: 400px;
    background-color: var(--bgc);
    margin: 0 auto;
}
#home .content .posts ul li .postBody div img {
    width: 90%;
}
#home .content .posts ul li .postBody p {
    margin-top: 10px;
    margin-bottom: 10px;
}
#home .content .posts ul li .postSocial {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
#home .content .posts ul li .postSocial div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#home .content .posts ul li .postSocial div > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#home .content .posts ul li .postSocial div > span h2 {
    font-size: 1rem;
}

#home .content .posts ul li .postSocial div > span i {
    color: var(--highlight);
    font-size: 1.5rem;
}
#home .content .posts ul li .postSocial div.likeComment {
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}
#home .content .posts ul li .postSocial div > button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#home .content .posts ul li .postSocial div > button:hover {
    background-color: var(--bgc);
}
.footerInHome {
    width: 400px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--weak);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--strong);
    border-left: none;
    border-bottom: none;
}
@media (max-width: 510px) {
    .footerInHome {
        display: none;
    }
}
