#header {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--weak);
    box-shadow: 0 4px 12px #0000004d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#header * {
    color: var(--strong);
}
#header div.userStaff {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#header div.userStaff > div.menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#header div.userStaff > div.menus button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#header div.userStaff > div.menus button.sandboxActive {
    background-color: var(--highlight) !important;
}
#header div.userStaff > div.menus button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--bgc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.2s;
}
#header div.userStaff > div.menus button:hover {
    background-color: var(--strong-fade);
}
#header div.userStaff div.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#header div.userStaff div.auth button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid var(--highlight);
    background-color: var(--highlight);
    color: var(--weak);
    cursor: pointer;
    transition: all 0.2s;
}
#header div.userStaff div.auth a + a button {
    background: none;
    color: var(--highlight);
}
#header div.userStaff div.auth a + a button:hover {
    background-color: var(--highlight);
    color: var(--weak);
}
#header div.userStaff div.auth button:hover {
    background: none;
    color: var(--highlight);
}
#header nav {
    width: 33.33%;
}
#header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}
#header nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    text-decoration: none;
}
#header nav ul li a.current * {
    color: var(--highlight);
}
#header nav ul li a:hover {
    background-color: var(--bgc);
}
#header .userStaff > ul {
    position: absolute;
    top: 120px;
    background-color: var(--weak);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--strong-fade);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
#header .userStaff > ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 5px;
    border-radius: 5px;
}
#header .userStaff > ul li:nth-child(1) {
    padding: 20px;
    box-shadow: 0 4px 12px var(--strong-fade);
    flex-direction: column;
}
#header .userStaff > ul li:nth-child(1) hr {
    width: 100%;
    margin: 10px;
}
#header .userStaff > ul li:nth-child(1):hover {
    background-color: var(--weak) !important;
}
#header .userStaff > ul li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
#header .userStaff > ul li div:hover {
    background-color: var(--strong-fade);
}
#header .userStaff > ul li div img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#header .userStaff > ul li a {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
}
#header .userStaff > ul li a:hover {
    text-decoration: underline;
}
#header .userStaff > ul li:hover {
    background-color: var(--strong-fade) !important;
}
#header .userStaff > ul li a i {
}
#header .userStaff > ul li h1 {
    font-size: 1rem;
}
#header .userStaff > ul li + li + li + li {
    gap: 5px;
    padding: 10px;
    cursor: pointer;
}
#header .search {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
#header .search input {
    width: 20vw;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--bgc) !important;
    font-size: 1rem;
    padding: 5px;
    transition: all 0.5s;
}
#header .search input:focus {
    outline: none;
}
#header .search ul {
    max-height: 500px;
    overflow-y: scroll;
    background-color: var(--weak);
    padding: 20px;
    border-radius: 10px;
    list-style-type: none;
    position: absolute;
    top: 120px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#header .search ul li {
    width: 90%;
    background-color: var(--bgc);
    padding: 10px;
}
#header .search ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header .search ul li a p {
    width: 70%;
    font-size: 1rem;
    overflow: hidden;
    white-space: wrap;
    word-wrap: break-word;
}
#header .search ul li a div {
    width: 50px;
    height: 50px;
    background-color: var(--strong-fade);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#header .search ul li a div img {
    width: 50px;
    height: 50px;
}
#header .search div > h2 {
    position: absolute;
    top: 120px;
    right: 10px;
}
@media (max-width: 770px) {
    #header nav ul li a h4 {
        display: none;
    }
    #header nav ul li a {
        font-size: 1.5rem;
    }

    #header div.userStaff {
        width: 40%;
    }
    #header .search {
        width: 40%;
    }
    #header nav {
        width: 20%;
    }
    #header nav ul {
        gap: 10px;
    }
    #header nav ul li a {
        padding: 10px;
    }
}
@media (max-width: 510px) {
    #header div.userStaff > div.menus button {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
    #header div.userStaff > div.menus button img {
        width: 18px;
        height: 18px;
    }
    #header .search input {
        display: none;
    }
}
