#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.noUserBtn {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    direction: var(--direction);
}
button.noUserBtn:hover {
    background-color: var(--bgc);
}
div.likeComment button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.likeComment button i.bi-bookmark-dash-fill {
    color: gold !important;
    font-weight: bold;
    font-size: 1.5rem;
}
div.likeComment button i.bi-hand-thumbs-up-fill {
    color: var(--highlight) !important;
    font-size: 1.5rem;
    font-weight: bold;
}
#messages > div {
    display: flex;
    flex-direction: column !important;
}
#messages > div ul {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start !important;
    gap: 5px !important;
}
#messages > div hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#messages > div ul > h1 {
    font-size: 1rem;
}
#messages > div ul li {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
#messages > div ul li img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--bgc);
}
#messages > div ul li div {
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center !important;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--bgc) !important;
}
#messages > div ul li div + div {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
    background: none;
    padding: 0 !important;
    background: none !important;
}
#messages > div ul li div h1 {
    font-size: 1rem;
}
#messages > div ul li div > h1.userH1 {
    cursor: pointer;
}
#messages > div ul li div > h1.userH1:hover {
    text-decoration: underline;
}

#messages > div ul li div p {
    font-size: 1rem;
}
#messages > div ul li div button {
    padding: 0;
    font-size: 1rem !important;
}

#messages > div ul li div button:hover {
    text-decoration: underline;
    background: none !important;
}

#messages > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start !important;
    gap: 5px;
    margin: 0 auto;
}
#messages > div > div div {
    width: 100%;
    display: flex;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center;
}
#messages > div > div div h2 {
    color: red;
    font-size: 1rem;
}
#messages > div > div div input {
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--bgc);
    font-size: 0.8rem;
    transition: all 0.2s;
}
#messages > div > div div input:focus {
    outline: none;
    border-color: var(--btnHover, #1877f2);
}
#messages > div > div button {
    padding: 10px !important;
    font-size: 2rem !important;
}
#messages > div > div a button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem !important;
}
#messages > div > div a button:hover {
    background-color: var(--bgc);
}
#messages > div.messagesWrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--strong-fade);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
}
#messages > div.messagesWrapper > div {
    width: 500px !important;
    background-color: var(--weak);
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}
#messages > div.messagesWrapper > div ul {
    max-height: 80vh;
    overflow-y: scroll;
}
#messages > div.messagesWrapper > div > button {
    width: 100%;
    color: red;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem !important  ;
}
@media (max-width: 580px) {
    #messages > div.messagesWrapper > div {
        width: 400px !important;
    }
    #messages > div.messagesWrapper > div ul {
        max-height: 60vh;
    }
}
@media (max-width: 550px) {
    .likeComment button {
        font-size: 0.8rem !important;
    }
}
@media (max-width: 450px) {
    #messages > div.messagesWrapper > div {
        width: 300px !important;
    }
    #messages > div.messagesWrapper > div ul {
        max-height: 40vh;
    }
}
