#footer {
    width: 100vw;
    min-height: 100px;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px;
}
#footer * {
    color: var(--color);
}
#footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 10px;
}
#footer ul a {
    text-decoration: none;
}

#footer ul li {
    cursor: pointer;
}
#footer ul li:hover {
    text-decoration: underline;
}
#footer > div {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#footer > div h2 {
    font-size: 1rem;
}
#footer > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#footer > div button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
#footer > div > div select {
    background-color: var(--backgroundColor);
}
@media (max-width: 400px) {
    .logo {
        font-size: 1.2rem;
    }

    #footer ul a {
        font-size: 0.8rem;
    }
    #footer > div > div > h2 {
        font-size: 0.2rem;
    }
}
