#userProfile {
    width: 100vw;
    margin-top: 400px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#userProfile div.header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: var(--weak);
    box-shadow: 0px 2px 5px #0000004d;
    position: fixed;
    top: 100px;
}

#userProfile div.header > div {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#userProfile div.header .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userProfile div.header .userInfo > div {
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px;
}

#userProfile div.header .userInfo > div div:first-child {
    width: 70px;
    height: 70px;
    background-color: var(--bgc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#userProfile div.header .userInfo > div:first-child img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#userProfile div.header .userInfo div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#userProfile div.header .userInfo div h1 {
    font-size: 1rem;
}

#userProfile div.header .userInfo div h2 {
    font-size: 1rem;
    color: var(--strong-fade);
}

#userProfile div.header > div button {
    font-size: 1rem;
    background-color: var(--highlight);
    color: var(--weak);
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: bold;
    transition: all 0.2s ease;
    position: relative;
}
#userProfile div.header > div button.followed {
    background-color: var(--bgc);
    color: var(--strong);
}
#userProfile div.header > div button.followed:hover {
    background-color: var(--strong-fade);
}
#userProfile div.header > div button.followed i {
    color: var(--strong);
}
#userProfile div.header > div button:hover {
    background-color: var(--highlight_strong);
    transform: scale(1.05);
}

#userProfile div.header > div button:active {
    transform: scale(0.95);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
}

#userProfile div.header > div button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
}

#userProfile div.header > div button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

#userProfile div.header > div button i {
    color: var(--weak);
    font-size: 1.5rem;
}

#userProfile div.header hr {
    width: 60%;
}
#userProfile div.header > hr + div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}
#userProfile div.header > hr + div h1 {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: var(--direction);
}

#userProfile div.header nav {
    width: 60%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

#userProfile div.header nav ul {
    display: flex;
    justify-content: center;
}
#userProfile div.header nav ul li {
    padding: 10px;
    font-size: 1.2rem;
    list-style: none;
}
#userProfile div.header nav ul li.active {
    font-weight: bold;
    color: var(--highlight);
    border-bottom: 3px solid var(--highlight);
}

#userProfile div.header nav ul li a {
    text-decoration: none;
    color: inherit;
}
#userProfile .loginToFollow {
    cursor: pointer;
}
#userProfile .loginToFollow:hover {
    text-decoration: underline;
}
#userProfile .posts {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#userProfile .posts ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}
#userProfile .posts ul li {
    width: 100%;
}
#userProfile .followers {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#userProfile .followers ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
}
#userProfile .followers ul > div {
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 16px 40px rgba(0, 0, 0, 0.05);
}
#userProfile .followers ul li {
    width: 100%;
    background-color: var(--weak);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}
#userProfile .followers ul li div.profilePicture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--bgc);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#userProfile .followers ul li div.profilePicture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#userProfile .followers ul li div + div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#userProfile .followers ul li div + div h1 {
    font-size: 1.5rem;
    cursor: pointer;
}
#userProfile .followers ul li div + div h1:hover {
    text-decoration: underline;
}
#userProfile .followers ul li div + div h2 {
    font-size: 1rem;
    color: var(--strong-fade);
}
@media (max-width: 900px) {
    #userProfile div.header nav ul li {
        padding: 5px;
        font-size: 1rem;
    }
}
@media (max-width: 860px) {
    #userProfile .posts {
        width: 500px;
    }
}
@media (max-width: 770px) {
    #userProfile {
        margin-top: 400px;
    }
    #userProfile div.header > div {
        width: 80%;
    }
    #userProfile div.header hr {
        width: 80%;
    }

    #userProfile div.header nav {
        width: 80%;
    }
    #userProfile div.header {
        top: 70px;
    }
}

@media (max-width: 550px) {
    #userProfile .posts {
        width: 300px;
    }
}
@media (max-width: 530px) {
    #userProfile div.header nav {
        width: 100%;
    }
    #userProfile div.header nav ul li {
        font-size: 0.7rem;
    }
}

@media (max-width: 460px) {
    #userProfile div.header > div button {
        font-size: 0.7rem;
        padding: 5px;
        border-radius: 15px;
    }
    #userProfile div.header > div > div div h1 {
        font-size: 0.7rem;
    }

    #userProfile div.header > div > div div h2 {
        font-size: 0.7rem;
    }
    #userProfile div.header nav ul li {
        font-size: 0.8rem;
    }
}
@media (max-width: 380px) {
    #userProfile div.header > div {
        width: 90%;
    }
    #userProfile div.header hr {
        width: 90%;
    }
}
@media (max-width: 360px) {
    #userProfile div.header nav ul li {
        font-size: 0.5rem;
    }
}
