#loader {
    width: var(--size) !important;
    height: var(--size) !important;
    background: none;
    border-radius: 50%;
    border: 2px solid var(--weak);
    border-right: 2px solid var(--strong);
    animation: spin 1s infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
